<div>
  <header class="header" wmAnimate="landing" aos speed="normal">
    <a href="" class="logo">
      <span class="grey-color"> &lt;</span>
      <label >  Khaled AMIRAT - ATAPI  </label>
      <span class="grey-color">/&gt;</span>
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>
    <ul class="menu">
      <li>
        <a href="#skills">À propos</a>
      </li>
      <li>
        <a href="#skills">Compétences</a>
      </li>
      <li>
        <a href="#education">Éducation</a>
      </li>
      <li>
        <a href="#projects">Projets</a>
      </li>
      <li>
        <a href="#experience">Expériences</a>
      </li>
      <li>
        <a href="#contact">Contactez moi</a>
      </li>
    </ul>
  </header>
</div>
